@media screen and (min-width: 350px) and (orientation:portrait){
    
    .horari{
        font-size: 80px !important;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Kode+Mono:wght@400..700&display=swap');
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.horari{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 400;
    font-family: 'Kode Mono', monospace;
    font-size: 40px;


}